
/*---------------------------------*/
/* для первой страницы index.html  */

#welcom_picture {
	/* position: relative; */
	/* top:50px; */
	display:block;
	margin:auto;
	/* width: 30%; */
	max-width: 30%;
	min-width: 400px;
}

#login_input {
	width: 100px;
}

#login {
	color:  #795548;
	text-align: center;
	margin-top: 20px;
}

#login button {
	background: #795548;
   color: #fff;
   font-size:100%; 
}

/*---------------------------------*/
/* для второй страницы second_page.html  */

/*#div_all {
	margin:auto;
	max-width: 1000px;
}

#second_picture {
	display:inline-block;
	max-width: 20%;
}

#book_list {
	display:inline-block;
	vertical-align:top;
	padding-left: 10px;
}*/

/*меню - список книг - элемент section*/
#book_list {
	position: fixed;
	left:40%;
	max-width: 200px;
}



/*#second_page_h3 {
	text-align: center;
	margin-top: 50px;
}*/

#second_page_menu {
	
}